* {
    padding: 0;
    margin: 0;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.Barra{
    display:grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 50px;
    background-color: black;
    
}
.Task{
    margin-left: 57%;
    margin-top: 1%;
    font-size: x-large;
    color: WHITE;
    
    
}
.New{
    margin: 4% 4% 4% 40%;
    
    cursor: pointer ;
    
    
}
.New :hover{
    
    background-color: grey;
}

.Newtask{
    position: relative;
    padding: 3%;
    border: 1px solid white;
    color:white;
    text-align: center;
   

}
.Barrac{
    background-color: white;
    height:8px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;

}
#BToDo{
    background-color: red;
    height:8px;
    width: 25%;
}
#BInPro{
    background-color: tomato;
    height:8px;
    width: 25%;
}
#BRevi{
    background-color: blue;
    height:8px;
    width: 25%;
}
#BComp{
    background-color: green;
    height:8px;
    width: 25%;
}
.Colunas{
    
    width: 100%;
    height: 90vh;
    background-color: white;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.ToDo{
    border: 1px solid grey;
    
    margin-top: 15%;
    margin-bottom: 25%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: white;

}
.InPro{
    border: 1px solid grey;
    
    margin-top: 15%;
    margin-bottom: 25%;
    margin-left: 4%;
    margin-right: 4%;    background-color: white;

}
.Review{
    border: 1px solid grey;
    
    margin-top: 15%;
    margin-bottom: 25%;
    margin-left: 4%;
    margin-right: 4%;    background-color: white;
}

.Comple{
    border: 1px solid grey;
    
    margin-top: 15%;
    margin-bottom: 25%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: white;
}

.tituloTD{
    text-align: center;
    
    width: 100%;
    height: 5vh;
    background-color: red;
}
.tituloTD p{
    color: white;
    font-size: x-large;
}

.tituloIP{
    text-align: center;
    width: 100%;
    height: 5vh;
    background-color: tomato;
}
.tituloIP p{
    color: white;
    font-size: x-large;
}

.tituloRE{
    text-align: center;
    
    width: 100%;
    height: 5vh;
    background-color: blue;
   
}
.tituloRE p{
    color: white;
    font-size: x-large;
}

.tituloCO{
    text-align: center;
    
    width: 100%;
    height: 5vh;
    background-color: green;
    
}
.tituloCO p{
    color: white;
    font-size: x-large;
}
#Nova{
    display:block;
}
#Caixa{
    
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    background-color:grey;
    opacity: 0.8;
}
#NovaTarefa{
    
    position:absolute;
    height: 50%;
    width: 50%;
    left:25%;
    top: 20%;
    background-color: white;
    border-radius: 2%;
    border: 1px solid grey;

}
#NovaT{
    font-size: x-large;
    color: white;
    background-color: grey;
    text-align: center;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
#Titletask{
    font-size: x-large;
    color: grey;
    position: absolute;
    left: 3%;
    top: 15%;
}
#Descriptask{
    font-size: x-large;
    color: grey;
    position: absolute;
    left: 3%;
    top: 38%;
}
#Title{
    position: absolute;
    top: 25%;
    left: 3%;
    height: 10%;
    width: 92%;
}
#Description{
    position:absolute;
    top:48%;
    left: 3%;
    box-sizing: border-box;
    height: 46%;
    width: 94%;
    padding: 1%;
    resize: none; 
    font-size: smaller;
}